.game-over{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 700;
	font-style: normal;
	font-size: xx-large;
}

.points{
	color: #ffb600;	
	text-align: center;
	padding-bottom: 15px;
	text-shadow: #8f5100 1px 1px;
}

.points span{
	color: #c26e00
}