.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: 100px;
  cursor: pointer;
}

.card.selected{
  border-width: 6px;
  margin: 94px;
}

.cards_deck{
  display: flex;
}