.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#main-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#head {
  padding: 15px 0 8px 0;
  text-align: center;
  font-size: x-large;
  flex: 0 1 auto;
}

#head.meToca {
  font-weight: bold;
  color: rgb(174, 0, 0);
}


#game-container {
  flex: 1 1 auto;
}

#footer {
  flex: 0 1 auto;
}

.cards_deck {
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  border-radius: 15px;
  flex: 1 0 150px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.394);
  transition: box-shadow 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card.selected {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.851);
}

#status-bar {
  padding: 10px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circle {
  width: 15px;
  border: solid 1px black;
  height: 15px;
  border-radius: 15px;
  margin: 0 3px 3px 3px;
}

.circle.waiting {
  background-color: olive;
}

.circle.right {
  background-color: greenyellow;
}

.circle.waitingNew {
  background-color: lightblue;
  animation: waitingNewAnim 0.2s ease-out;
}

@keyframes waitingNewAnim {
  0% {
    margin: 7px -3px 3px -3px;
    width: 0;
    height: 0;
  }

  100% {
    margin: 0 3px 3px 3px;
    width: 15px;
    height: 15px;
  }
}

.circle.selectedNew {
  background-color: green;
}

.circle.wrong {
  background-color: maroon;
}

#users-list-bar {
  display: flex;
  justify-content: center;
}

#users-list-bar div {
  margin: 10px;
  padding: 4px 8px;
  border: solid 1px black;
  border-radius: 15px;
}

#users-list-bar .myTurn {
  background-color: green;
}

#users-list-bar .othersTurn {
  background-color: olive;
}

.counterLastGroup {
  width: 46px;
  display: flex;
}

.bigButton {
  height: 30px;
  font-size: large;
}

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  margin: 5px;
  width: 250px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  border-radius: 30px;
  border: 0;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}