@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Light.ttf);
	font-weight: 300;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Bold.ttf);
	font-weight: 700;
}

#container{
	height: 100vh;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 620px;
	align-items: center;
	font-family: Ubuntu, sans-serif;
}

#container.student{
	background: rgb(0,28,124);
	background: linear-gradient(146deg, rgba(0,28,124,1) 0%, rgba(9,50,121,1) 35%, rgba(0,68,196,1) 100%);
}

#container.teacher{
	background: rgb(126,8,255);
	background: linear-gradient(337deg, rgba(126,8,255,1) 0%, rgba(46,7,73,1) 100%);
}

button.b3{
	background: transparent url(./images/b_3.png);
	height: 83px;
	width: 218px;
	border: none;
	font-weight: 700;
	font-size: xx-large;
	color: #c46200;
	text-shadow: #fff396 -1px -1px 1px;
	margin-top: 10px;
	cursor: pointer;
}

input.it3{
	width: 300px;
	height: 70px;
	border-radius: 40px;
	border: solid #00000052 1px;
	text-align: center;
	font-size:xx-large;
	font-weight: 700;
	transition: 0.3s;
	outline: none;
}

input.it3:focus{
	box-shadow: #000000bd 0 0 5px;
	transition: 0.3s;
}

.one-input-form{
	text-align: center;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.warning{
	margin: 10px;
	font-family: Ubuntu,sans-serif;
	color:rgb(255, 38, 0);
	font-style: italic;
	font-size: 2em;
	height: 43px;
}

.warning-off{
	opacity: 0;
	transition: 0.2s;
}

.warning-on{
	opacity: 1;
	transition: 0.2s;
}

.golden-board{
	background-image: url('./images/golden-board-back.png');
	width: 249px;
	height: 182px;
	padding: 35px 20px;
	color: #c46200;
	font-family: Ubuntu, sans-serif;
	font-style: italic;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.3em;
}

.student-list{
	background: #ffbc2b;
	margin-top: 20px;
	border-radius: 30px;
	box-shadow: #ff5e08 2px 2px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	padding: 3px;
}

.student-list .student-name{
	display: flex;
	align-items: center;
	padding: 0 13px 0 38px;
	height: 40px;
	border-radius: 30px;
	background: url('./images/star.png') no-repeat #fff0bf 6px center;
	font-weight: 700;
	color: #ff5e08;
	margin: 8px;
}

.student-list .student-name.teacher{
	background: url('./images/heart.png') no-repeat #fff0bf 6px center;
}

.student-list .profe-tag{
	padding-left: 5px;
	display: inline-block;
	font-style: italic;
	color: #ff5e087c;
}

.student-list .student-name.no-name{
	background-position: center 3px;
}